DOCTYPE
html(lang='en')
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='style.css')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400&amp;family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  title XO
body
  .container
    .game
      .blue.result
        .name BLUE
        .score 0
      .main.hide
        .t.c1.r1#d1
        .t.c2.r1
        .t.c3.r1#d2
        .t.c1.r2
        .t.c2.r2#d12
        .t.c3.r2
        .t.c1.r3#d2
        .t.c2.r3
        .t.c3.r3#d1
      .red.result
        .name RED
        .score 0
    .control
      .restart
        <i class="fa-solid fa-arrow-rotate-right"></i>
      .reset
        <i class="fa-solid fa-power-off"></i>
  script(src='main.js')



